In [1]:
#logistic regression loan default

In [84]:
import numpy as np
import pandas as pd
from datetime import datetime

In [47]:
#importing csv files
train=pd.read_csv("C:/Users/sarve/Downloads/ML record/vehicle-loan-default-prediction/train.csv")
test=pd.read_csv("C:/Users/sarve/Downloads/ML record/vehicle-loan-default-prediction/test.csv")

In [48]:
train.head()

,UNIQUEID,DISBURSED_AMOUNT,ASSET_COST,LTV,BRANCH_ID,SUPPLIER_ID,MANUFACTURER_ID,CURRENT_PINCODE_ID,DATE_OF_BIRTH,EMPLOYMENT_TYPE,...,SEC_SANCTIONED_AMOUNT,SEC_DISBURSED_AMOUNT,PRIMARY_INSTAL_AMT,SEC_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH,NO_OF_INQUIRIES,LOAN_DEFAULT
0,420825,50578,58400,89.55,67,22807,45,1441,1/1/1984,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-1985,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-1985,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-1993,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,9/12/1977,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [49]:
test.head()

,UNIQUEID,DISBURSED_AMOUNT,ASSET_COST,LTV,BRANCH_ID,SUPPLIER_ID,MANUFACTURER_ID,CURRENT_PINCODE_ID,DATE_OF_BIRTH,EMPLOYMENT_TYPE,...,SEC_CURRENT_BALANCE,SEC_SANCTIONED_AMOUNT,SEC_DISBURSED_AMOUNT,PRIMARY_INSTAL_AMT,SEC_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH,NO_OF_INQUIRIES
0,655269,53478,63558,86.54,67,22807,45,1497,1/1/1974,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
1,723482,55513,63163,89.45,67,22807,45,1497,20-05-1985,Self employed,...,0,0,0,5605,0,1,0,0yrs 8mon,1yrs 0mon,1
2,758529,65282,84320,79.93,78,23135,86,2071,14-10-1995,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
3,763449,46905,63896,76.58,78,17014,45,2070,1/6/1973,Self employed,...,0,0,0,0,0,0,0,2yrs 5mon,2yrs 5mon,0
4,708663,51428,63896,86.08,78,17014,45,2069,1/6/1972,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0

In [50]:
train.shape

(233154, 41)

In [51]:
test.shape

(112392, 40)

In [52]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
UNIQUEID                               233154 non-null int64
DISBURSED_AMOUNT                       233154 non-null int64
ASSET_COST                             233154 non-null int64
LTV                                    233154 non-null float64
BRANCH_ID                              233154 non-null int64
SUPPLIER_ID                            233154 non-null int64
MANUFACTURER_ID                        233154 non-null int64
CURRENT_PINCODE_ID                     233154 non-null int64
DATE_OF_BIRTH                          233154 non-null object
EMPLOYMENT_TYPE                        233154 non-null object
DISBURSAL_DATE                         233154 non-null object
STATE_ID                               233154 non-null int64
EMPLOYEE_CODE_ID                       233154 non-null int64
MOBILENO_AVL_FLAG                      233154 non-null int64
AADHAR_FLAG                            233154 non-null int64
PAN_FLAG                               233154 non-null int64
VOTERID_FLAG                           233154 non-null int64
DRIVING_FLAG                           233154 non-null int64
PASSPORT_FLAG                          233154 non-null int64
PERFORM_CNS_SCORE                      233154 non-null int64
PERFORM_CNS_SCORE_DESCRIPTION          233154 non-null object
PRI_NO_OF_ACCTS                        233154 non-null int64
PRI_ACTIVE_ACCTS                       233154 non-null int64
PRI_OVERDUE_ACCTS                      233154 non-null int64
PRI_CURRENT_BALANCE                    233154 non-null int64
PRI_SANCTIONED_AMOUNT                  233154 non-null int64
PRI_DISBURSED_AMOUNT                   233154 non-null int64
SEC_NO_OF_ACCTS                        233154 non-null int64
SEC_ACTIVE_ACCTS                       233154 non-null int64
SEC_OVERDUE_ACCTS                      233154 non-null int64
SEC_CURRENT_BALANCE                    233154 non-null int64
SEC_SANCTIONED_AMOUNT                  233154 non-null int64
SEC_DISBURSED_AMOUNT                   233154 non-null int64
PRIMARY_INSTAL_AMT                     233154 non-null int64
SEC_INSTAL_AMT                         233154 non-null int64
NEW_ACCTS_IN_LAST_SIX_MONTHS           233154 non-null int64
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS    233154 non-null int64
AVERAGE_ACCT_AGE                       233154 non-null object
CREDIT_HISTORY_LENGTH                  233154 non-null object
NO_OF_INQUIRIES                        233154 non-null int64
LOAN_DEFAULT                           233154 non-null int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB

In [53]:
#missing data
total = train.isnull().sum().sort_values(ascending=False)
percent = (train.isnull().sum()/train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head()

                   Total  Percent
LOAN_DEFAULT           0      0.0
PERFORM_CNS_SCORE      0      0.0
DRIVING_FLAG           0      0.0
VOTERID_FLAG           0      0.0
PAN_FLAG               0      0.0

In [55]:
train["LOAN_DEFAULT"].value_counts()

0    182543
1     50611
Name: LOAN_DEFAULT, dtype: int64

In [57]:
#working on categorical data

In [63]:
train.select_dtypes(include=np.object)

,DATE_OF_BIRTH,EMPLOYMENT_TYPE,DISBURSAL_DATE,PERFORM_CNS_SCORE_DESCRIPTION,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH
0,1/1/1984,Salaried,3/8/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
1,31-07-1985,Self employed,26-09-2018,I-Medium Risk,1yrs 11mon,1yrs 11mon
2,24-08-1985,Self employed,1/8/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
3,30-12-1993,Self employed,26-10-2018,L-Very High Risk,0yrs 8mon,1yrs 3mon
4,9/12/1977,Self employed,26-09-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
5,8/9/1990,Self employed,19-09-2018,A-Very Low Risk,1yrs 9mon,2yrs 0mon
6,1/6/1988,Salaried,23-09-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
7,4/10/1989,Salaried,16-09-2018,Not Scored: Not Enough Info available on the c...,0yrs 2mon,0yrs 2mon
8,15-11-1991,Self employed,5/9/2018,D-Very Low Risk,4yrs 8mon,4yrs 8mon
9,1/6/1968,Salaried,16-09-2018,A-Very Low Risk,1yrs 7mon,1yrs 7mon
10,1/1/1979,Self employed,29-09-2018,M-Very High Risk,0yrs 7mon,0yrs 7mon
11,7/9/1984,Salaried,3/9/2018,B-Very Low Risk,2yrs 1mon,2yrs 3mon
12,1/6/1974,Salaried,30-08-2018,M-Very High Risk,1yrs 3mon,2yrs 9mon
13,16-08-1984,Salaried,30-08-2018,C-Very Low Risk,1yrs 0mon,2yrs 1mon
14,18-02-1973,Self employed,31-08-2018,M-Very High Risk,3yrs 11mon,7yrs 2mon
15,5/7/1994,Salaried,22-10-2018,Not Scored: Not Enough Info available on the c...,0yrs 1mon,0yrs 1mon
16,1/6/1976,Self employed,18-09-2018,M-Very High Risk,2yrs 6mon,5yrs 6mon
17,27-02-1983,Self employed,20-09-2018,E-Low Risk,1yrs 10mon,4yrs 7mon
18,10/8/1988,Self employed,6/9/2018,I-Medium Risk,1yrs 9mon,1yrs 9mon
19,16-04-1980,Self employed,11/10/2018,H-Medium Risk,0yrs 11mon,0yrs 11mon
20,1/11/1978,Self employed,20-10-2018,C-Very Low Risk,0yrs 6mon,0yrs 10mon
21,29-02-1984,Salaried,27-08-2018,B-Very Low Risk,2yrs 9mon,5yrs 10mon
22,14-07-1994,Self employed,8/10/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
23,31-05-1979,Self employed,17-09-2018,C-Very Low Risk,1yrs 3mon,1yrs 3mon
24,2/1/1989,Self employed,10/9/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
25,1/1/1986,Salaried,18-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
26,2/8/1968,Self employed,16-08-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
27,1/1/1976,Self employed,10/10/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
28,12/9/1972,Self employed,23-10-2018,H-Medium Risk,3yrs 1mon,3yrs 1mon
29,27-06-1969,Self employed,19-09-2018,D-Very Low Risk,2yrs 0mon,5yrs 4mon
...,...,...,...,...,...,...
233124,30-09-1984,Salaried,17-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233125,13-05-1988,Salaried,13-10-2018,C-Very Low Risk,2yrs 3mon,5yrs 5mon
233126,2/12/1974,Self employed,5/10/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233127,5/3/1976,Self employed,13-10-2018,F-Low Risk,1yrs 1mon,3yrs 2mon
233128,6/4/1969,Salaried,23-10-2018,Not Scored: Not Enough Info available on the c...,0yrs 2mon,0yrs 2mon
233129,18-07-1980,Salaried,10/9/2018,I-Medium Risk,2yrs 1mon,6yrs 2mon
233130,16-01-1964,Salaried,20-08-2018,A-Very Low Risk,4yrs 1mon,9yrs 5mon
233131,31-12-1994,Self employed,27-09-2018,D-Very Low Risk,0yrs 5mon,0yrs 9mon
233132,3/9/1992,Self employed,30-08-2018,C-Very Low Risk,0yrs 11mon,1yrs 11mon
233133,31-12-1980,Salaried,26-10-2018,B-Very Low Risk,6yrs 10mon,12yrs 5mon
233134,1/6/1981,Self employed,24-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233135,1/1/1996,Salaried,26-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233136,2/11/1972,Salaried,23-10-2018,B-Very Low Risk,4yrs 6mon,4yrs 6mon
233137,14-09-1973,Self employed,27-10-2018,J-High Risk,1yrs 3mon,2yrs 4mon
233138,20-03-1983,Salaried,23-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233139,14-08-1981,Self employed,24-10-2018,A-Very Low Risk,0yrs 10mon,1yrs 2mon
233140,23-01-1989,Self employed,26-10-2018,A-Very Low Risk,3yrs 0mon,8yrs 2mon
233141,9/1/1996,Salaried,23-10-2018,A-Very Low Risk,0yrs 6mon,0yrs 6mon
233142,3/3/1994,Self employed,23-10-2018,C-Very Low Risk,0yrs 5mon,0yrs 8mon
233143,25-01-1967,Self employed,26-10-2018,A-Very Low Risk,1yrs 7mon,3yrs 0mon
233144,15-06-1963,Salaried,24-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233145,23-12-1985,Self employed,23-10-2018,E-Low Risk,0yrs 9mon,2yrs 6mon
233146,23-07-1982,Self employed,26-10-2018,C-Very Low Risk,0yrs 3mon,0yrs 3mon
233147,19-06-1989,Salaried,31-10-2018,C-Very Low Risk,0yrs 9mon,1yrs 0mon
233148,8/7/1993,Salaried,24-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233149,1/8/1988,Salaried,26-10-2018,D-Very Low Risk,1yrs 9mon,3yrs 3mon
233150,5/12/1988,Self employed,23-10-2018,A-Very Low Risk,0yrs 6mon,0yrs 6mon
233151,1/6/1976,Salaried,24-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233152,26-03-1994,Salaried,29-09-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
233153,18-02-1984,Salaried,27-10-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon

In [73]:
train['PERFORM_CNS_SCORE_DESCRIPTION'].unique()

array(['No Bureau History Available', 'I-Medium Risk', 'L-Very High Risk',
       'A-Very Low Risk',
       'Not Scored: Not Enough Info available on the customer',
       'D-Very Low Risk', 'M-Very High Risk', 'B-Very Low Risk',
       'C-Very Low Risk', 'E-Low Risk', 'H-Medium Risk', 'F-Low Risk',
       'K-High Risk',
       'Not Scored: No Activity seen on the customer (Inactive)',
       'Not Scored: Sufficient History Not Available',
       'Not Scored: No Updates available in last 36 months', 'G-Low Risk',
       'J-High Risk', 'Not Scored: Only a Guarantor',
       'Not Scored: More than 50 active Accounts found'], dtype=object)

In [74]:
#for these 2 categorical features AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH

In [75]:
def duration(dur):
    yrs = int(dur.split(' ')[0].replace('yrs',''))
    mon = int(dur.split(' ')[1].replace('mon',''))
    return yrs*12+mon

In [77]:
train['AVERAGE_ACCT_AGE'] = train['AVERAGE_ACCT_AGE'].apply(duration)
train['CREDIT_HISTORY_LENGTH'] = train['CREDIT_HISTORY_LENGTH'].apply(duration)

In [130]:
train['DATE_OF_BIRTH']=train['DATE_OF_BIRTH'].apply(lambda x: x[-4:]).astype(int)

In [131]:
train['DISBURSAL_DATE']=train['DISBURSAL_DATE'].apply(lambda x: x[-4:]).astype(int)

In [126]:
train.select_dtypes(include=np.object)

       DATE_OF_BIRTH DISBURSAL_DATE
0           1-1-1984       3-8-2018
1         31-07-1985     26-09-2018
2         24-08-1985       1-8-2018
3         30-12-1993     26-10-2018
4          9-12-1977     26-09-2018
5           8-9-1990     19-09-2018
6           1-6-1988     23-09-2018
7          4-10-1989     16-09-2018
8         15-11-1991       5-9-2018
9           1-6-1968     16-09-2018
10          1-1-1979     29-09-2018
11          7-9-1984       3-9-2018
12          1-6-1974     30-08-2018
13        16-08-1984     30-08-2018
14        18-02-1973     31-08-2018
15          5-7-1994     22-10-2018
16          1-6-1976     18-09-2018
17        27-02-1983     20-09-2018
18         10-8-1988       6-9-2018
19        16-04-1980     11-10-2018
20         1-11-1978     20-10-2018
21        29-02-1984     27-08-2018
22        14-07-1994      8-10-2018
23        31-05-1979     17-09-2018
24          2-1-1989      10-9-2018
25          1-1-1986     18-10-2018
26          2-8-1968     16-08-2018
27          1-1-1976     10-10-2018
28         12-9-1972     23-10-2018
29        27-06-1969     19-09-2018
...              ...            ...
233124    30-09-1984     17-10-2018
233125    13-05-1988     13-10-2018
233126     2-12-1974      5-10-2018
233127      5-3-1976     13-10-2018
233128      6-4-1969     23-10-2018
233129    18-07-1980      10-9-2018
233130    16-01-1964     20-08-2018
233131    31-12-1994     27-09-2018
233132      3-9-1992     30-08-2018
233133    31-12-1980     26-10-2018
233134      1-6-1981     24-10-2018
233135      1-1-1996     26-10-2018
233136     2-11-1972     23-10-2018
233137    14-09-1973     27-10-2018
233138    20-03-1983     23-10-2018
233139    14-08-1981     24-10-2018
233140    23-01-1989     26-10-2018
233141      9-1-1996     23-10-2018
233142      3-3-1994     23-10-2018
233143    25-01-1967     26-10-2018
233144    15-06-1963     24-10-2018
233145    23-12-1985     23-10-2018
233146    23-07-1982     26-10-2018
233147    19-06-1989     31-10-2018
233148      8-7-1993     24-10-2018
233149      1-8-1988     26-10-2018
233150     5-12-1988     23-10-2018
233151      1-6-1976     24-10-2018
233152    26-03-1994     29-09-2018
233153    18-02-1984     27-10-2018

[233154 rows x 2 columns]

In [79]:
#for converting date into something meaningful numerical wise

In [ ]:
#below another approach

In [132]:
#pres_date='01-01-2020' # Present date

#def days_between(d1,d2):
   # d1=datetime.strptime(d1,'%d-%m-%y')
    #d2=datetime.strptime(d2,'%d-%m-%y')
    #return abs((d2-d1).days)

In [133]:
 # converting date of birth in years
#train['DATE_OF_BIRTH']=train['DATE_OF_BIRTH'].apply(lambda x:days_between(x,pres_date)/365)
# converting disbursed date to the present date
#train['DISBURSAL_DATE']=train['DISBURSAL_DATE'].apply(lambda x:days_between(x,pres_date)/365)

In [122]:
#train['DATE_OF_BIRTH']=train['DATE_OF_BIRTH'].apply(lambda x:x.replace("/", "-"))

In [124]:
#train['DISBURSAL_DATE']=train['DISBURSAL_DATE'].apply(lambda x:x.replace("/", "-"))

In [ ]:
#above another approach

In [93]:
#label encoding rest of the 2 categorical features

In [96]:
import sklearn.preprocessing as pre

In [98]:
train["EMPLOYMENT_TYPE"]=pre.LabelEncoder().fit_transform(train["EMPLOYMENT_TYPE"])

In [99]:
train["PERFORM_CNS_SCORE_DESCRIPTION"]=pre.LabelEncoder().fit_transform(train["PERFORM_CNS_SCORE_DESCRIPTION"])

In [134]:
train.select_dtypes(include=np.object)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[233154 rows x 0 columns]

In [101]:
#performing logistic regression

In [102]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [136]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
UNIQUEID                               233154 non-null int64
DISBURSED_AMOUNT                       233154 non-null int64
ASSET_COST                             233154 non-null int64
LTV                                    233154 non-null float64
BRANCH_ID                              233154 non-null int64
SUPPLIER_ID                            233154 non-null int64
MANUFACTURER_ID                        233154 non-null int64
CURRENT_PINCODE_ID                     233154 non-null int64
DATE_OF_BIRTH                          233154 non-null int32
EMPLOYMENT_TYPE                        233154 non-null int32
DISBURSAL_DATE                         233154 non-null int32
STATE_ID                               233154 non-null int64
EMPLOYEE_CODE_ID                       233154 non-null int64
MOBILENO_AVL_FLAG                      233154 non-null int64
AADHAR_FLAG                            233154 non-null int64
PAN_FLAG                               233154 non-null int64
VOTERID_FLAG                           233154 non-null int64
DRIVING_FLAG                           233154 non-null int64
PASSPORT_FLAG                          233154 non-null int64
PERFORM_CNS_SCORE                      233154 non-null int64
PERFORM_CNS_SCORE_DESCRIPTION          233154 non-null int32
PRI_NO_OF_ACCTS                        233154 non-null int64
PRI_ACTIVE_ACCTS                       233154 non-null int64
PRI_OVERDUE_ACCTS                      233154 non-null int64
PRI_CURRENT_BALANCE                    233154 non-null int64
PRI_SANCTIONED_AMOUNT                  233154 non-null int64
PRI_DISBURSED_AMOUNT                   233154 non-null int64
SEC_NO_OF_ACCTS                        233154 non-null int64
SEC_ACTIVE_ACCTS                       233154 non-null int64
SEC_OVERDUE_ACCTS                      233154 non-null int64
SEC_CURRENT_BALANCE                    233154 non-null int64
SEC_SANCTIONED_AMOUNT                  233154 non-null int64
SEC_DISBURSED_AMOUNT                   233154 non-null int64
PRIMARY_INSTAL_AMT                     233154 non-null int64
SEC_INSTAL_AMT                         233154 non-null int64
NEW_ACCTS_IN_LAST_SIX_MONTHS           233154 non-null int64
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS    233154 non-null int64
AVERAGE_ACCT_AGE                       233154 non-null int64
CREDIT_HISTORY_LENGTH                  233154 non-null int64
NO_OF_INQUIRIES                        233154 non-null int64
LOAN_DEFAULT                           233154 non-null int64
dtypes: float64(1), int32(4), int64(36)
memory usage: 69.4 MB

In [138]:
Y=train['LOAN_DEFAULT']
X=train.drop(['LOAN_DEFAULT','UNIQUEID'],axis=1)

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [140]:
logistic = LogisticRegression()
logistic.fit(X_train,y_train)

C:\Users\sarve\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sarve\Anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [166]:
predictions = logistic.predict(X_test)

In [167]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88     54756
           1       0.00      0.00      0.00     15191

   micro avg       0.78      0.78      0.78     69947
   macro avg       0.39      0.50      0.44     69947
weighted avg       0.61      0.78      0.69     69947

In [144]:
#Logistic model on test data

In [145]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112392 entries, 0 to 112391
Data columns (total 40 columns):
UNIQUEID                               112392 non-null int64
DISBURSED_AMOUNT                       112392 non-null int64
ASSET_COST                             112392 non-null int64
LTV                                    112392 non-null float64
BRANCH_ID                              112392 non-null int64
SUPPLIER_ID                            112392 non-null int64
MANUFACTURER_ID                        112392 non-null int64
CURRENT_PINCODE_ID                     112392 non-null int64
DATE_OF_BIRTH                          112392 non-null object
EMPLOYMENT_TYPE                        112392 non-null object
DISBURSAL_DATE                         112392 non-null object
STATE_ID                               112392 non-null int64
EMPLOYEE_CODE_ID                       112392 non-null int64
MOBILENO_AVL_FLAG                      112392 non-null int64
AADHAR_FLAG                            112392 non-null int64
PAN_FLAG                               112392 non-null int64
VOTERID_FLAG                           112392 non-null int64
DRIVING_FLAG                           112392 non-null int64
PASSPORT_FLAG                          112392 non-null int64
PERFORM_CNS_SCORE                      112392 non-null int64
PERFORM_CNS_SCORE_DESCRIPTION          112392 non-null object
PRI_NO_OF_ACCTS                        112392 non-null int64
PRI_ACTIVE_ACCTS                       112392 non-null int64
PRI_OVERDUE_ACCTS                      112392 non-null int64
PRI_CURRENT_BALANCE                    112392 non-null int64
PRI_SANCTIONED_AMOUNT                  112392 non-null int64
PRI_DISBURSED_AMOUNT                   112392 non-null int64
SEC_NO_OF_ACCTS                        112392 non-null int64
SEC_ACTIVE_ACCTS                       112392 non-null int64
SEC_OVERDUE_ACCTS                      112392 non-null int64
SEC_CURRENT_BALANCE                    112392 non-null int64
SEC_SANCTIONED_AMOUNT                  112392 non-null int64
SEC_DISBURSED_AMOUNT                   112392 non-null int64
PRIMARY_INSTAL_AMT                     112392 non-null int64
SEC_INSTAL_AMT                         112392 non-null int64
NEW_ACCTS_IN_LAST_SIX_MONTHS           112392 non-null int64
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS    112392 non-null int64
AVERAGE_ACCT_AGE                       112392 non-null object
CREDIT_HISTORY_LENGTH                  112392 non-null object
NO_OF_INQUIRIES                        112392 non-null int64
dtypes: float64(1), int64(33), object(6)
memory usage: 34.3+ MB

In [146]:
#missing data
total = test.isnull().sum().sort_values(ascending=False)
percent = (test.isnull().sum()/test.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head()

                       Total  Percent
NO_OF_INQUIRIES            0      0.0
CREDIT_HISTORY_LENGTH      0      0.0
DRIVING_FLAG               0      0.0
VOTERID_FLAG               0      0.0
PAN_FLAG                   0      0.0

In [148]:
test.select_dtypes(include=np.object)

,DATE_OF_BIRTH,EMPLOYMENT_TYPE,DISBURSAL_DATE,PERFORM_CNS_SCORE_DESCRIPTION,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH
0,1/1/1974,Salaried,3/11/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
1,20-05-1985,Self employed,20-11-2018,C-Very Low Risk,0yrs 8mon,1yrs 0mon
2,14-10-1995,Salaried,29-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
3,1/6/1973,Self employed,29-11-2018,Not Scored: Only a Guarantor,2yrs 5mon,2yrs 5mon
4,1/6/1972,Salaried,17-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
5,1/1/1968,Self employed,21-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
6,6/9/1982,Salaried,17-11-2018,K-High Risk,1yrs 7mon,2yrs 5mon
7,24-11-1995,Salaried,19-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
8,1/1/1988,Salaried,18-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
9,1/1/1999,Self employed,17-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
10,1/1/1980,Self employed,17-11-2018,B-Very Low Risk,1yrs 11mon,2yrs 2mon
11,1/1/1975,Salaried,27-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
12,1/1/1983,Salaried,17-11-2018,I-Medium Risk,1yrs 2mon,2yrs 6mon
13,5/6/1983,Salaried,21-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
14,1/1/1986,Salaried,19-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
15,1/1/1966,Self employed,30-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
16,22-09-1988,Salaried,17-11-2018,D-Very Low Risk,0yrs 6mon,0yrs 11mon
17,1/1/1977,Self employed,17-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
18,1/1/1990,Self employed,21-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
19,31-12-1972,Salaried,19-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
20,1/1/1977,Self employed,21-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
21,1/6/1967,Salaried,22-11-2018,A-Very Low Risk,1yrs 2mon,1yrs 11mon
22,1/1/1971,Salaried,26-11-2018,K-High Risk,1yrs 7mon,1yrs 11mon
23,11/10/1983,Salaried,27-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
24,27-10-1994,Self employed,15-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
25,1/12/1982,Self employed,15-11-2018,A-Very Low Risk,0yrs 6mon,0yrs 6mon
26,1/2/1995,Salaried,9/11/2018,D-Very Low Risk,0yrs 9mon,1yrs 8mon
27,21-01-1977,Self employed,14-11-2018,C-Very Low Risk,1yrs 6mon,3yrs 1mon
28,2/9/1966,Self employed,9/11/2018,A-Very Low Risk,1yrs 7mon,2yrs 6mon
29,17-12-1975,Salaried,20-11-2018,D-Very Low Risk,0yrs 9mon,1yrs 7mon
...,...,...,...,...,...,...
112362,15-10-1997,Salaried,27-11-2018,No Bureau History Available,0yrs 3mon,0yrs 3mon
112363,1/1/1973,Salaried,19-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112364,1/6/1963,Salaried,20-11-2018,I-Medium Risk,1yrs 9mon,1yrs 9mon
112365,14-04-1981,Salaried,17-11-2018,B-Very Low Risk,3yrs 7mon,3yrs 7mon
112366,1/7/1983,Salaried,26-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112367,15-06-1974,Salaried,15-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112368,12/4/1966,Salaried,28-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112369,20-05-1987,Salaried,23-11-2018,C-Very Low Risk,0yrs 6mon,0yrs 6mon
112370,1/6/1973,Salaried,24-11-2018,Not Scored: Only a Guarantor,0yrs 2mon,0yrs 2mon
112371,21-12-1980,Salaried,15-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112372,22-03-1994,Self employed,28-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112373,16-03-1992,Self employed,14-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112374,1/8/1977,Self employed,30-11-2018,A-Very Low Risk,0yrs 10mon,1yrs 5mon
112375,1/11/1976,Self employed,28-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112376,7/5/1997,Self employed,16-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112377,1/1/1975,Salaried,29-11-2018,C-Very Low Risk,0yrs 10mon,1yrs 7mon
112378,1/5/1974,Self employed,11/11/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112379,18-05-1996,Self employed,24-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112380,26-04-1994,Self employed,24-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112381,9/1/1984,Self employed,15-11-2018,C-Very Low Risk,0yrs 9mon,1yrs 2mon
112382,1/1/1982,Self employed,11/11/2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112383,5/6/1967,Self employed,17-11-2018,H-Medium Risk,3yrs 10mon,6yrs 8mon
112384,10/1/1989,Self employed,29-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112385,1/1/1996,Self employed,30-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112386,1/1/1976,Self employed,24-11-2018,H-Medium Risk,1yrs 1mon,1yrs 6mon
112387,14-05-1992,Self employed,28-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112388,24-04-1984,Self employed,19-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon
112389,1/1/1986,Self employed,17-11-2018,B-Very Low Risk,4yrs 10mon,9yrs 5mon
112390,1/1/1973,Self employed,15-11-2018,D-Very Low Risk,0yrs 3mon,0yrs 3mon
112391,1/1/1974,Self employed,28-11-2018,No Bureau History Available,0yrs 0mon,0yrs 0mon

In [149]:
test['AVERAGE_ACCT_AGE'] = test['AVERAGE_ACCT_AGE'].apply(duration)
test['CREDIT_HISTORY_LENGTH'] = test['CREDIT_HISTORY_LENGTH'].apply(duration)

In [151]:
test['DATE_OF_BIRTH']=test['DATE_OF_BIRTH'].apply(lambda x: x[-4:]).astype(int)

In [153]:
test['DISBURSAL_DATE']=test['DISBURSAL_DATE'].apply(lambda x: x[-4:]).astype(int)

In [154]:
test["EMPLOYMENT_TYPE"]=pre.LabelEncoder().fit_transform(test["EMPLOYMENT_TYPE"])

In [155]:
test["PERFORM_CNS_SCORE_DESCRIPTION"]=pre.LabelEncoder().fit_transform(test["PERFORM_CNS_SCORE_DESCRIPTION"])

In [156]:
test.select_dtypes(include=np.object)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[112392 rows x 0 columns]

In [160]:
test=test.drop(['UNIQUEID'],axis=1)

In [164]:
predictions2 = logistic.predict(test)

In [177]:
print(classification_report(y_test,predictions2[:69947]))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88     54756
           1       0.00      0.00      0.00     15191

   micro avg       0.78      0.78      0.78     69947
   macro avg       0.39      0.50      0.44     69947
weighted avg       0.61      0.78      0.69     69947